{% extends "base_generic.html" %}

{% block content %}
<style>
  #id_post {
    width:100%;
    height: 500px;
    max-width:100%;
    max-height:100%;    
    }
  #id_description {
    width: 100%;
    height: 80px;
    max-width: 100%;
    max-height: 100px;
  }
  #id_title {
    width: 90%;
  }
</style>
  <form method="post">{% csrf_token %}
    <h3 class="card-header">Tituls: {{form.title}}</h3>
    <div class="m-3">
      <h4>Artikula apraksts:</h4>
      {{form.description}}
    </div>
    <div class="m-3">
      <div class="row">
        <div class="col">
          <h4>Artikula saturs:</h4>
          {{form.post}}
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-4">
            Tag: <strong>{{form.tag}}</strong>
            Flag: <strong>{{form.flag}}</strong>
        </div>
      </div>
    </div>
    <div class="m-3">
      <button type="submit" class="btn btn-primary mb-2">Saglabāt</button>
    </div> 
  </form> 
  <!-- <input hidden=true id="getPostValue" value={{attr_blog.post}}> -->
  <script>
    tinymce.init({
      selector: '#id_post'
    });
  </script>
{% endblock %}