<!DOCTYPE html>
<html lang="en">
  <head>
    {% load i18n static %}
    {% block title %}
    {% if user.is_authenticated %}
    <title>Accounting Art | {{ user.email }}</title>
    {% else %}
    <title>Welcome to internal manager</title>
    {% endif %}
    {% endblock %}
    {% load static %}

    <script src="https://cdn.tiny.cloud/1/tnamv1tu8i6akxngw3at6vmseue1pkbkoejkjb4mpmf5sfg2/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/starter-template/starter-template.css" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <style>
    .navbar-nav {
      float:none;
      margin:0 auto;
      display: block;
      text-align: center;
    }

    .navbar-nav > li {
      display: inline-block;
      float:none;
    }
    .position{
      align-items: center;
      height:50px;
    }
    .position span{
      line-height:50px;
    }
  </style>
  <body>
    <div class="container">
      <div class="m-3 modal-dialog-centered">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}"><span class="navbar-brand mb-0 h1">Sākums</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
              <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="nav navbar-nav navbar-left">
                  {% if user.is_authenticated and user.is_staff == False %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'clients' %}">Klienti</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Laika Tabula</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Issue Tracker</a>
                  </li>
                  {% elif user.is_authenticated and user.is_staff %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'clients' %}">Klienti</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Laika Tabula</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Issue Tracker</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Administrātors</a></a>
                  </li>
                  {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-righ">
                  <li class="nav-item">
                    {% if user.is_authenticated %}
                    <div class="position" style="float:left; display:flex;">
                        <span style="display:inline;"><a class="nav-link" href="{% url 'logout'%}?next={{request.path}}"><button id="logoutBtn" class="btn btn-outline-danger">Log out</button></a></span>
                        <span class="badge badge-primary" style="display:inline;">{{ user.email }}</span>
                    </div>
                    {% else %}
                    <a class="nav-link" href="{% url 'login'%}?next={{request.path}}"><button class="btn btn-outline-success">Log in</button></a>
                    {% endif %}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <main role="main" class="container">
      <div class="container">
        <div class="card mt-5">
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
  </body>

  <footer class="footer">
    <div class="container">
      <div class="card mt-5 modal-dialog-centered">
        <p>Copyright (c) 2021</p>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="https://unpkg.com/popper.js@1.16.1/dist/umd/popper.min.js.map"></script>
  <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
  <script>
    Vue.filter('formatDateTime', function(value) {
      if (value) {
          return moment(String(value)).format('DD-MM-YYYY hh:mm')
      }
    });
    Vue.filter('formatDate', function(value) {
      if (value) {
          return moment(String(value)).format('DD-MM-YYYY')
      }
    });

  </script>
</html>