{% extends "base_generic.html" %}

{% block content %}
  <div class="card modal-dialog-centered">
    <div class="m-3">
      <h3 class="card-header">Dzēst pamatlīdzekli : {{ comp_assets.instance_id_ass.company_name }} - {{ comp_assets.asset_type }}</h3>
      <form method="post">{% csrf_token %}
        <div class="form-group">
          <div class="card modal-dialog-centered">
            <label>Vai tiešām vēlaties dzēst<strong> "{{ comp_assets.asset_type }} - {{ comp_assets.asset_id }}"</strong>?</label>
            <button type="submit" class="btn btn-primary mb-2">Dzēst</button>
          </div>
        </div>
      </form>        
    </div>
  </div>
{% endblock %}